<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <style type="text/css">
      .response {
        font-size: 14px;
        text-align: justify;
        text-justify: inter-word;
        font-style: Arial;
      }

      .div-center {
        text-align: center;
      }

      body {
        font-family: 'Noto Sans CJK SC', 'Microsoft YaHei', Arial, sans-serif;
        font-weight: normal;
        font-size: 12px !important;
      }

      .main {}
    </style>
  </head>

  <body>
    <!-- <div style="font-size:16px; text-align:Center; font-style: Arial; "> <b> LENOVO AGREEMENT FOR DEMO PURPOSE </b>
          <hr style="width:85%; margin-left:0px;" color="#FF2400" /> </div>-->
    <h2 style="padding-top: 3pt;text-indent: 0pt;text-align: Center;">
      LENOVO AGREEMENT FOR DEMO PURPOSE
    </h2>
    <hr style="width:85%" color="#FF2400" />

    <div>
      <p
        style="margin-top:0in;margin-right:0in;margin-bottom:10.0pt; margin-left:0.5in;line-height:115%;font-size:20px;font-family:HelveticaNeueLT Std Lt,sans-serif;"
      >
        <strong><span style="font-family:Arial,sans-serif;font-size:19px;">1. Customer Information:</span></strong>
      </p>
    </div>

    <div>
      <table style="padding: 5px; border-collapse: collapse; margin-left:10% !important;margin-right:12% !important;font-size:10px">
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Company Name : <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid !important;">
            {CompanyName} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid !important;border-bottom: 1pt solid !important;">
            Customer Address : <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid !important;">
            {CustomerAddress} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid ;border-bottom: 1pt solid  !important;">
            Primary Contact Name : <br /> &nbsp;
          </td>
          <td style="width:70%;border-bottom: 1pt solid  !important;">
            {CustomerName} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Primary Phone/Mobile: <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid  !important;">
            {CustomerContactNo} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Primary Email Address: <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid  !important;">
            {CustomerEmail} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Secondary Contact Name : <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid  !important;">
            {Contact2Name} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Secondary Phone/Mobile : <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid  !important;">
            {Contact2Mobile} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Secondary Email Address : <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid  !important;">
            {secEmalAddress} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Loan Period : <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid  !important;">
            {LoanDays} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Remarks : <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid  !important;">
            {Remarks} <br /> &nbsp;
          </td>
        </tr>
        <tr>
          <td style="width:30%;border-right: 1pt solid  !important;border-bottom: 1pt solid  !important;">
            Requester Name : <br /> &nbsp;
          </td>
          <td style="width:60%;border-bottom: 1pt solid  !important;">
            {RequesterName} <br /> &nbsp;
          </td>
        </tr>
      </table>
    </div>

    <p>&nbsp;</p>

    <p
      style="margin-top:0in;margin-right:0in;margin-bottom:10.0pt; margin-left:0.5in;line-height:115%;font-size:20px;font-family:HelveticaNeueLT Std Lt,sans-serif;"
    >
      <strong><span style="font-family:Arial,sans-serif;font-size:19px;">2. Evaluation  Item(s):</span></strong>
    </p>

    <div>
      <table style="padding: 5px; border-collapse: collapse; width:95%; text-align:Center; font-family:HelveticaNeueLT Std Lt;">
        <thead>
          <tr style="font-size: 10px">
            <th style="background-color: #F4B084;border:1px solid;margin-top:1in; padding-top: 3pt;padding-bottom: 5pt;width:15%"> MTM</th>
            <th style="background-color: #F4B084;border:1px solid; padding-top: 3pt;padding-bottom: 5pt;width:15%"> SERIAL</th>
            <th style="background-color: #F4B084;border:1px solid;padding-top: 3pt;padding-bottom: 5pt;width:12%"> BRAND</th>
            <th style="background-color: #F4B084;border:1px solid; padding-top: 3pt;padding-bottom: 5pt;"> DESCRIPTION</th>
          </tr>
        </thead>
        <tbody>
          {dtLoanLine}
        </tbody>
      </table>
    </div>

    <p>&nbsp;</p>

    <p
      style="margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0.5in;line-height:115%;font-size:20px;font-family:HelveticaNeueLT Std Lt,sans-serif;"
    >
      <strong><span style="font-family:Arial,sans-serif;font-size:19px;">3. Term/Conditions:</span></strong>
    </p>

    <div style="margin-left:0.3in; margin-right:0.3in">
      <p style="font-size: 10%; font-family: Arial;">
        In consideration of your agreeing to be bound by the terms and conditions of this Agreement, Lenovo agrees to loan you selected relevant and emerging technologies (as determined by Lenovo in its absolute discretion) (the “Equipment).
      </p>
    </div>

    <div style="margin-left:0.3in; margin-right:0.3in">
      <h3 style="margin-left:10%">Your Obligations: </h3>
      <p style="margin-left:10%; font-family: Arial"> Under this Agreement you agree: </p>

      <ol style="margin-left:5%; font-family: Arial">
        <li>To provide an environment that is appropriate for the use and proper functioning of the equipment for the duration of the Loan Period.</li>
        <li>
          Not to assign, charge, sell, transfer or otherwise dispose of the products or any interest therein, or create any charge, lien or encumbrances thereon and that the machines Products not be relocated or any alterations or attachments made without
          Lenovo’s prior written consent.
        </li>
        <li>That at all times legal and equitable title in the Equipment remains vested in Lenovo.</li>
        <li>That the Equipment supplied by Lenovo may not be new or unused.</li>
        <li>That, to the extent permitted by law, Lenovo provides the Equipment without warranties or indemnities of any kind.</li>
        <li>To at all times the Equipment is stored on your premises, ensure the Equipment is kept and maintained in good working order.</li>
        <li>To be responsible for any loss or damage to the Equipment from the time it is delivered to your premises until such time that it is collected by Lenovo.</li>
      </ol>

      <div style="page-break-after:always; bottom:0px; z-index:0%;"> &nbsp;</div>

      <ol style="margin-left:5%; font-family: Arial" start="8">
        <li>
          That if the Equipment is not in the condition that it was received in (less reasonable wear and tear) when Lenovo collects the Equipment from you at the end of the Loan Period, to pay the difference between the price of the Equipment specified
          by Lenovo and the diminished value (as determined by Lenovo in its absolute discretion) of the Equipment upon its collection by Lenovo, including any cost for loss of accessory items provided with the Equipment or the cost of the original
          packaging.
        </li>
        <li>To comply with all licensing terms supplied with programs installed on the Equipment.</li>
        <li>
          To inform Lenovo in writing before the end of the evaluation period if you wish to extend the evaluation period or purchase any of the products. You may extend or purchase the product only with Lenovo’s written approval.
        </li>
        <li>
          That upon the expiry of the Loan Period, or conclusion or termination of this Agreement, for any reason whatsoever:
          <ol>
            <li>To take all steps reasonably necessary to promptly arrange for the collection of the Equipment by Lenovo, and to otherwise ensure that the Equipment is returned in accordance with Schedule 1. USD100 per day will be levied on late return.</li>
            <li>To destroy or remove all copies, reproductions and translations of Programs and destroy or remove such Programs from any Equipment.</li>
          </ol>
        </li>
        <li>
          To arrange with Lenovo a suitable time for collection of the Equipment and to ensure that the Equipment has been disassembled and packed in the original packaging with all accessory items (including power pack, mouse, keyboard) in preparation
          for transportation and that all passwords have been disabled.
        </li>
        <li>
          To remove all data from the Equipment prior to return of the Equipment to Lenovo, including all licensing terms supplied with programs that you may have installed on the Equipment (the “Programs”) during the Loan Period;
        </li>
        <li>
          To agree Lenovo to terminate the evaluation if the Products are retained beyond the expiry of the loan period without notification/agreement from Lenovo or fail to return the Products on expiry of the evaluation period for any reason (including
          without limitation loss of the machine), in which case, you shall be deemed to have purchased the Products, you agree to promptly to pay Lenovo based on the market retail price or the price stated on the sales agreement or sales quotation.
        </li>
        <li>
          You will provide feedback on your use of the Equipment at the frequency, and in the form, required by Lenovo. You agree that all intellectual property created as a result of your feedback will vest in Lenovo from the date of its creation,
          and that you have arranged for all moral rights arising from such feedback be waived by their creators.
        </li>
        <li>
          You agree that you and your personnel’s names, and logo, be used in any promotional media for an unlimited period of time without remuneration for the purposes of promoting the Equipment and/or services of Lenovo in connection with this Agreement.
          To give effect to this provision, you agree to grant Lenovo a perpetual, irrevocable, royalty-free license to use any of your intellectual property for the purposes set out in this clause.
        </li>
      </ol>

      <h3 style="margin-left:10%">Lenovo’s Obligations:</h3>
      <ol style="margin-left:5%;font-family: Arial">
        <li>To pay for all charges associated with the transportation, installation, removal and collection of the Equipment both to and from your premises; and</li>
        <li>To collect, or organize collection of the Equipment, from your premises following expiry of the Loan Period or termination of this Agreement.</li>
        <li>To provide maintenance during the evaluation period without charge unless such service is necessitated by your negligence.</li>
      </ol>

      <h3 style="margin-left:10%">Liability:</h3>
      <p style="margin-left:10%; font-family: Arial">
        Lenovo will not in connection with the supply of the Equipment to you, or your use of the Equipment, and to the maximum extent permitted by law, be liable for any liability, loss or damage suffered or incurred by you or any third parties and claimed
        against you (including, but not limited to, any special, consequential or indirect loss, or for any loss of data, lost profits, revenues or savings actual or anticipated howsoever arising (including as a result of a breach, negligence, misrepresentation
        or other contact or tort claim. This exclusion of liability does not apply to (i) bodily injury (including death); (ii) damage to real property or tangible personal property; or (iii) liability that cannot be excluded or limited under law.
      </p>

      <div style="page-break-after:always; bottom:0px; z-index:0%;"> &nbsp;</div>
      <br />
      <br />

      <h3 style="margin-left:10%">General:</h3>
      <ol style="margin-left:5%;font-family: Arial">
        <li>Nothing in this Agreement excludes, restricts, or modifies rights which you have under the specific country law of where the Lenovo entity which signed this Agreement is located.</li>
        <li>This Agreement is subject to the laws of the Republic of China (Taiwan) and the parties agree to submit to the exclusive jurisdiction of the courts of Taipei District Court, Taiwan.</li>
        <li>
          Each Provision of this Agreement should be read as separate and severable so that if any provision is void or unenforceable for any reason, that provision will be severed and the remainder will be construed as if severed provision had never
          existed.
        </li>
        <li>
          This Agreement will commence on the date of last signature below (the “Effective Date”) and will end at the expiry of the Loan Period or earlier termination of this Agreement. Expiration or termination of this Agreement does not affect those
          provisions and those obligations of a party which by their very nature survive expiration or termination, including Lenovo’s obligation to collect the Equipment from your premises after the expiry of the Loan Period or termination of this
          Agreement.
        </li>
        <li>This Agreement may be executed in counterparts, each of which will constitute an original, and of which will constitute one agreement.</li>
      </ol>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p style="font-size: 10%; font-family:'Noto Sans CJK SC',Arial;margin-left:15px;">
      The above is agreed to by:
      <table style="font-size:12px; padding:2px; border-spacing: 20px;">
        <tr>
          <td style="width:50%; height: 40px; ">
            <b> {Recipient} </b>
          </td>
          <td style=" width:50%; height: 40px; ">
            <b> Lenovo Global Technology (Taiwan) Ltd <br /> {LenovoTool} </b>
          </td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid; height: 20px;"></td>
          <td style="border-bottom: 1px solid; height: 20px;"></td>
        </tr>
        <tr>
          <td style="width:50%; height: 40px; "> By Authorized signature </td>
          <td style="width:50%; height: 40px; "> By Authorized signature </td>
        </tr>
        <tr>
          <td style="border-bottom: 1pt solid; width: 31%; height: 20px;"> </td>
          <td style="border-bottom: 1pt solid; width: 31%; height: 20px;"> </td>
        </tr>
        <tr>
          <td style="width:50%; height: 40px; "> Print Name and Officers Title: </td>
          <td style="width:50%; height: 40px; "> Print Name and Officers Title: </td>
        </tr>
        <tr>
          <td style="border-bottom: 1pt solid; width: 31%; height: 20px;"> </td>
          <td style="border-bottom: 1pt solid; width: 31%; height: 20px;"> </td>
        </tr>
        <tr>
          <td style="width:50%; height: 40px;"> Date: </td>
          <td style="width:50%; height: 40px; "> Date: </td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid; height: 20px;"> </td>
          <td style=" border-bottom: 1px solid; height: 20px;"> </td>
        </tr>
      </table>
    </p>

    <div style="page-break-after:always; bottom:0px; z-index:0%;"> &nbsp;</div>
    <br />

    <h3 style="margin-left:10%">Returning Instruction:</h3>
    <ol style="margin-left:5%;font-family: Arial">
      <li>Customer is responsible to return the demo units within the loan period with all the return documents.</li>
      <li>Put the machine and all accessories in the original Lenovo box as originally sent. </li>
      <li>Delete data and passwords especially the BIOS, if any. </li>
      <li>Remove autopilot from your tenant, if any. </li>
      <li>Contact your Lenovo country Demo team/your Lenovo account manager for return/collection arrangement/document once you are ready or for any further assistance.</li>
    </ol>
  </body>
</html>